### https://raw.github.com/github/gitignore/d1baec1bf1fe04bbc67b9e23074ea2f00fd31224/Global/Vagrant.gitignore

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log
